.topic {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vw;
}

.topic__title {
  font-size: var(--mediumFontSize);
}

.topic__posts-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2%;
  gap: 1%;
  border-top: 2px solid var(--mainTextColor);
  border-bottom: 2px solid var(--mainTextColor);
  overflow-y: scroll;
  scrollbar-color: var(--mainTextColor) var(--appBackgroundColor);
  scrollbar-width: thin;
}

.topic__post {
  display: flex;
  gap: 1%;
  padding: 1%;
  border: 1px solid var(--mainTextColor);
}

.topic__author-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic__content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.topic__avatar-container {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  width: 70px;
  height: 70px;
  outline: 1px solid var(--mainTextColor);
}

.topic__avatar {
  width: auto;
  height: 100%;
}
