.btn {
  box-shadow: none;
  margin-top: 18px;
  color: var(--mainTextColor);
  background-color: transparent;
  text-transform: uppercase;

  &.size_h {
    font-size: 96px;
    padding: 8px 22px 6px 22px;
    border-radius: 12px;
  }

  &.size_l {
    font-size: 32px;
    padding: 8px 22px 6px 22px;
    border-radius: 12px;
  }

  &.size_m {
    font-size: 24px;
    padding: 8px 22px 6px 22px;
    border-radius: 12px;
  }

  &.size_s {
    font-size: 18px;
    padding: 4px 12px;
    border-radius: 6px;
  }

  &-primary {
    border: 2px solid var(--mainTextColor);

    &:hover {
      background-color: var(--mainTextColor);
      border-color: var(--activityColor);
      color: var(--appBackgroundColor);
    }

    &:active {
      background-color: var(--activityColor);
      border-color: var(--activityColor);
      color: var(--appBackgroundColor);
    }
  }

  &-secondary {
    border: none;

    &:hover {
      color: var(--activityColor);
    }
  }

  &:hover {
    cursor: pointer;
  }
}
