.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap;
  font-size: 38px;
}

.form__error-label {
  justify-self: center;
  align-self: center;
  color: var(--dangerColor);
}
