.forum {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.forum__header {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr);
}

.forum__topics-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: 2px solid var(--mainTextColor);
  border-bottom: 2px solid var(--mainTextColor);
  overflow-y: scroll;
  scrollbar-color: var(--mainTextColor) var(--appBackgroundColor);
  scrollbar-width: thin;
  font-size: var(--smallFontSize);
}

.forum__topic-list-item {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr);
  text-align: center;
}

.forum__topic-list-item:hover {
  background-color: var(--activityColor);
  color: var(--appBackgroundColor);
}

.forum__topic-list-item_align-left {
  text-align: left;
}

.outline {
  outline: 1px solid red;
}
