.game-content {
  min-height: 704px;
  margin: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

  > .content-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    & p {
      font-size: 38px;
      color: var(--mainTextColor);
    }
  }
}
