.app-container {
  --activityColor: #ff6b00;
  --dangerColor: #d41f1f;
  --warningColor: #ff0;
  --successColor: #1fd41f;
  --mainTextColor: #fff;
  --mainTextFontFamily: 'Pixeboy', 'Russo One', sans-serif;
  --notActiveColor: #b0b0b0;
  --appBackgroundColor: #000;
  --mainTextWeight: 700;
  --subTextWeight: 500;
  --largeFontSize: 73px;
  --mediumFontSize: 38px;
  --smallFontSize: 32px;
  --xsmallFontSize: 18px;
}

.app-container.theme_light {
  --appBackgroundColor: #e2e2e2;
  --activityColor: #7ac041;
  --dangerColor: #e70404;
  --mainTextColor: #000;
}
