:root {
  --errorRed: #d41f1f;
  --white: #fff;
  --appBackground: #000;
  --activityColor: #ff6b00;
  --dangerColor: #d41f1f;
  --mainTextColor: #fff;
  --mainBackColor: #000;
  --mainTextFontFamily: 'Pixeboy';
  --white: #fff;
  --appBackground: #000;
  --activityColor: #ff6b00;
}
