@import "./constants.css";
@import "fonts.css";
@import 'normalize.css';
@import url('http://fonts.cdnfonts.com/css/pixeboy');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
  background-color: var(--appBackground);
  font-family: 'Pixeboy', 'Russo One', sans-serif;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--activityColor);
  text-transform: uppercase;
}

.pt-10 {
  padding-top: 10px;
}

body {
  margin: 0;
}
