.login-page {
  justify-content: space-evenly;
}

.login-page__text-label {
  font-size: 25px;
}

.login-page__signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

.login-page__link {
  font-size: 35px;
}

.login-page__link-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  min-width: 50vw;
}
