@import url('http://fonts.cdnfonts.com/css/pixeboy');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import "./constants.css";
@import 'normalize.css';

.app-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--appBackgroundColor);
  font-family: var(--mainTextFontFamily);
}

h1 {
  color: var(--activityColor);
  text-transform: uppercase;
}

.pt-10 {
  padding-top: 10px;
}

body {
  margin: 0;
}
