@font-face {
  font-family: 'micron55';
  src: url('../assets/fonts/micron55.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
}
@import url('https://fonts.cdnfonts.com/css/pixeboy');
@import "./constants.css";
@import 'normalize.css';

.app-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--appBackgroundColor);
  font-family: var(--mainTextFontFamily);
  transition: var(--transitionTime);
}

.btn, h1, span {
  transition: var(--transitionTime);
}

.btn:hover, button span {
  transition: 0s;
}

h1 {
  color: var(--activityColor);
  text-transform: uppercase;
}

.pt-10 {
  padding-top: 10px;
}

body {
  margin: 0;
}
