.language-selector__button {
  padding: 6px 16px 4px;
  border: none;
  border: 2px solid var(--appBackgroundColor);
  margin-right: 6px;
  box-shadow: none;
  background-color: var(--notActiveColor);
  border-radius: 6px;
  font-size: 18px;
  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: var(--mainTextColor);
    border-color: var(--activityColor);
    color: var(--appBackgroundColor);
  }

  &_active {
    background-color: var(--activityColor);
    color: var(--mainTextColor);
    border-color: var(--activityColor);

    &:hover {
      background-color: var(--activityColor);
      color: var(--mainTextColor);
    }
  }
}
