.new-topic {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
}

.post__title {
  font-size: var(--mediumFontSize);
}

.post__title-container {
  display: flex;
  justify-content: space-between;
}

.new-topic__input-container {
  padding: 2%;
  border-top: 2px solid var(--mainTextColor);
  border-bottom: 2px solid var(--mainTextColor);
}

.new-topic__text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--appBackgroundColor);
  outline: none;
  resize: none;
  border: 1px solid var(--mainTextColor);
  color: var(--mainTextColor);
  font-size: var(--smallFontSize);
}

.new-topic__text::placeholder {
  color: var(--activityColor);
}
